<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930790944500-13blmu2qa5152mgoclk02vv755u8g1lb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930790944500-13blmu2qa5152mgoclk02vv755u8g1lb</string>
	<key>API_KEY</key>
	<string>AIzaSyBGM-nB5m0-lDNwiy3kRtK0MaemFwkybio</string>
	<key>GCM_SENDER_ID</key>
	<string>930790944500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HaydenJin.workoutTracker</string>
	<key>PROJECT_ID</key>
	<string>workouttracker-9445d</string>
	<key>STORAGE_BUCKET</key>
	<string>workouttracker-9445d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:930790944500:ios:c4aa6d60428275c7f8f8a1</string>
	<key>DATABASE_URL</key>
	<string>https://workouttracker-9445d.firebaseio.com</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3755886742417549~6610519468</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string></string>
</dict>
</plist>
